In [ ]:
import $ivy.`org.apache.spark::spark-sql:2.4.3`
import org.apache.spark.sql._
import org.apache.log4j.{Level, Logger}
Logger.getLogger("org").setLevel(Level.OFF)
val spark = {
  NotebookSparkSession.builder()
    .master("local[*]")
    .getOrCreate()
}

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [3]:
val a = (1 to 999).toList

a: List[Int] = List(
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
...

In [4]:
val multiples = a.filter(x => x % 3 == 0 || x % 5 == 0)

multiples: List[Int] = List(
  3,
  5,
  6,
  9,
  10,
  12,
  15,
  18,
  20,
  21,
  24,
  25,
  27,
  30,
  33,
  35,
  36,
  39,
  40,
  42,
  45,
  48,
  50,
  51,
  54,
  55,
  57,
  60,
  63,
  65,
  66,
  69,
  70,
  72,
  75,
  78,
  80,
  81,
...

In [5]:
val sum = multiples.reduce((a1, b1) => a1 + b1)
print(sum)

233168

sum: Int = 233168